@model eNamjestaj.Web.Areas.ModulAdministrator.ViewModels.KupciIndexVM
@using LazZiya

@addTagHelper *, LazZiya.TagHelpers





<form action="/ModulAdministrator/Kupci/Index" class="form-inline">
    <input type="hidden" asp-for="S" />
    <input type="hidden" asp-for="P" />
    <div class="form-group">
        <label for="KupciPretraga">Pretraga kupaca:</label>

        <input placeholder="Ime i/ili prezime" asp-for="KupciPretraga"
               type="text" style="margin-left:10px; margin-right:15px; width:200px !important;" class="form-control ">

    </div>

    <input type="submit" value="Pretraga" class="btn btn-primary" />
</form>
<br />
<div class="card-body">
    <div class="table-responsive">
        <table class=" table table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Korisničko ime</th>
                    <th>Email</th>
                    <th>Adresa</th>
                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.Kupci)
                {
                    <tr>
                        <td>@x.Ime</td>
                        <td>@x.Prezime</td>
                        <td>@x.KorisnickoIme</td>
                        <td>@x.Email</td>
                        <td>@x.Adresa</td>
                        <td>
                            <button ajax-poziv="da" ajax-rezultat="divUrediKupac" ajax-url="/ModulAdministrator/Kupci/Uredi?kupacId=@x.KupacId" class="btn btn-primary">Uredi</button>|
                            <a class="btn btn-danger" asp-action="Obrisi" asp-route-id="@x.KupacId" asp-area="ModulAdministrator">Obrisi</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>
<paging class="pagination justify-content-center" page-no="Model.P"
        page-size="Model.S"
        total-records="Model.TotalRecords"
        show-prev-next="true" >
</paging>
<br />
<br />
<div id="divUrediKupac"></div>
<br />
<br />



<script>
    $("button[ajax-poziv='da']").click(function (event) {

        var btn = $(this);

        var url = btn.attr("ajax-url");
        var r = btn.attr("ajax-rezultat");

        $.get(url,
            function (rezultat, status) {
                $("#" + r).html(rezultat);

            });
    });
</script>
