@model eNamjestaj.Web.Areas.ModulMenadzer.ViewModels.ProizvodiIndexMenadzerVM
@{
    //Layout = null;
}

@using LazZiya

@addTagHelper *, LazZiya.TagHelpers


<body>
    <h1>Pregled proizvoda</h1>
    <br />
    <form action="/ModulMenadzer/ProizvodiMenadzer/Index">
        <input type="hidden" asp-for="S" />
        <input type="hidden" asp-for="P" />
        <select class="custom-select col-lg-4" style="margin-left:20px;" name="vrstaID">
            <option>(Odaberite vrstu namještaja)</option>
            @foreach (var x in Model.Vrste)
            {
                <option value="@x.Value">@x.Text</option>
            }
        </select>


        <input type="submit" value="Pretraga" class="btn btn-primary" />
    </form>
    <br />


    <div class="card-body">
        <div class="table-responsive">
            <table class=" table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Naziv</th>
                        <th>Sifra</th>
                        <th>Cijena</th>
                        <th>Vrsta proizvoda</th>
                        <th>Opis</th>
                        <th>Slika</th>
                        <th>Akcija</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.Proizvodi)
                    {
                        <tr>
                            <td>@x.Naziv</td>
                            <td>@x.Sifra</td>
                            <td>@x.Cijena KM</td>
                            <td>@x.Vrsta</td>
                            <td>@x.Opis</td>
                            <td><img src=@x.Slika class="img-thumbnail" style="width:80px;height:50px" /></td>
                            <td>
                                <a class="btn btn-warning" ajax-poziv="da" ajax-rezultat="divProizvodirezultat" asp-action="Uredi" asp-route-id="@x.Id" asp-route-vrstaID="@Model.vrstaID" asp-area="ModulMenadzer">Uredi</a>

                                <a class="btn btn-danger" asp-action="Obrisi" asp-route-id="@x.Id" asp-area="ModulMenadzer">Obrisi</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <paging class="pagination justify-content-center" page-no="Model.P"
            page-size="Model.S"
            total-records="Model.TotalRecords"
            show-prev-next="true">
    </paging>

    <br />

    <div class="container-fluid">
        <a class="btn btn-danger" ajax-poziv="da" ajax-rezultat="divProizvodirezultat" asp-action="Dodaj" asp-area="ModulMenadzer">Dodaj</a>
    </div>



    <br />
    <br />
    <div id="divProizvodirezultat"></div>
    <br />

    <br />





    <script>

        $("a[ajax-poziv='da']").click(function (event) {
            $(this).attr("ajax-poziv", "dodan");
            event.preventDefault();
            var urlZaPoziv1 = $(this).attr("ajax-url");
            var urlZaPoziv2 = $(this).attr("href");
            var divZaRezultat = $(this).attr("ajax-rezultat");

            var urlZaPoziv;

            if (urlZaPoziv1 instanceof String)
                urlZaPoziv = urlZaPoziv1;
            else
                urlZaPoziv = urlZaPoziv2;

            $.get(urlZaPoziv, function (data, status) {
                $("#" + divZaRezultat).html(data);
            });
        });
    </script>
</body>






